.App
  .os-theme-dark
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  max-width: 5px;
  min-width: 5px;
  background-color: red;
  color: red;
}

.App .os-theme-dark > .os-scrollbar-vertical {
  background: rgb(221, 221, 221);
  max-width: 7px;
  padding: 1px;
  border-radius: 15px;
  background-color: red;
  color: red;
}

.App.os-scrollbar-track {
  max-width: 5px;
  min-width: 5px;
  background-color: red;
  color: red;
}

.App > .os-scrollbar-handle {
  background-color: red;
  color: red;
}
